@if (_hotOps == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid Data="@_hotOps" TItem="HotOpResponse">
        <Columns>
            <RadzenDataGridColumn TItem="HotOpResponse" Title="User">
                <Template Context="hotOp">
                    @hotOp.User.Username
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="HotOpResponse">
                <Template Context="hotOp">
                    @hotOp.Channel.Name
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="HotOpResponse" Title="Start Date" Property="StartDate">
                <Template Context="hotOp">
                    @(hotOp.StartDate.ToString("yyyy-MM-dd hh:mm tt"))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="HotOpResponse" Title="End Date" Property="EndDate">
                <Template Context="hotOp">
                    @(hotOp.EndDate.ToString("yyyy-MM-dd hh:mm tt"))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="HotOpResponse">
                <Template Context="hotOp">
                    <button type="button" class="btn btn-primary" @onclick="() => ViewScoreboard(hotOp)">View Scoreboard</button>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <HotOpScoreboard @ref="HotOpScoreboard" Id="currentScoreboard" />
}