@page "/Reminders"
@inject ApiService ApiService
<PageTitle>Reminders</PageTitle>

@if (!PageReady)
{
    <p><em>Loading..</em></p>
}
else
{
    <h4>Reminders</h4>
    <div class="row my-2">
        <div class="offset-md-6 offset-lg-9 col-md-6 col-lg-3">
            <button type="button" class="btn btn-primary" @onclick="NewScheduledMessage">New Reminder</button>
        </div>
    </div>
    <RadzenDataGrid @ref="grid" Data="@reminders" TItem="ScheduledMessageResponse" PagerPosition="PagerPosition.Bottom" AllowPaging="true" AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn TItem="ScheduledMessageResponse" Property="MessageText" Title="Message" />
            <RadzenDataGridColumn TItem="ScheduledMessageResponse" Property="SendDate
            " Title="Send Date">
                <Template Context="message">
                    @(message.SendDate?.ToString("yyy-MM-dd hh:mm tt"))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ScheduledMessageResponse" Property="Channel.Name" Title="Channel" />
            <RadzenDataGridColumn TItem="ScheduledMessageResponse">
                <Template Context="message">
                    <button class="btn btn-primary" @onclick="() => EditScheduledMessage(message)">Edit</button>
                    <button class="btn btn-danger" @onclick="async () => await ShowDeleteConfirmationModal(message)">Delete</button>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <Modal Id="editScheduleMessage" @ref="scheduledMessageModal">
        <ModalHeader>
            <h4 class="modal-title">Edit Reminder</h4>
        </ModalHeader>
        <ModalBody>
            <EditForm Model="@editScheduleMessage" OnValidSubmit="@SubmitEditMessage">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row my-2">
                    <div class="col-12 form-group">
                        <label class="form-label">Message</label>
                        <InputTextArea class="form-control" @bind-Value="editScheduleMessage.MessageText"></InputTextArea>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-12 form-group">
                        <label class="form-label">Reminder Date/Time</label>
                        <InputDate class="form-control" Type="InputDateType.DateTimeLocal" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="editScheduleMessage.SendDate" />
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-12 form-group">
                        <label class="form-label">Channel</label>
                        <InputSelect class="form-select" @bind-Value="editScheduleMessage.ChannelId">
                            <option value="">Select a channel...</option>
                            @foreach (var channel in channels ?? Array.Empty<ChannelResponse>())
                            {
                                <option value="@channel.Id">@channel.Name</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="offset-md-6 col-md-6">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </EditForm>
        </ModalBody>
    </Modal>
    <Modal Id="deleteConfirmation" @ref="deleteConfirmationModal">
        <ModalHeader>
            <h5 class="modal-title">Delete Reminder</h5>
        </ModalHeader>
        <ModalBody>
            <p>Are you sure you want to delete this reminder?</p>
        </ModalBody>
        <ModalFooter>
            <button type="button" class="btn btn-primary mx-2" @onclick="DeleteScheduledMessage">Yes</button>
            <button type="button" class="btn btn-danger mx-2" @onclick="HideDeleteConfirmationModal">No</button>
        </ModalFooter>
    </Modal>
}


@code {
    private List<ScheduledMessageResponse>? reminders;
    private ChannelResponse[]? channels;

    private bool PageReady => reminders != null && channels != null;

    private ScheduledMessageRequest editScheduleMessage = new ScheduledMessageRequest
    {
        MessageText = string.Empty
    };
    
    private Modal? scheduledMessageModal;
    private Modal? deleteConfirmationModal;

    private ScheduledMessageResponse? reminderToDelete;
    private RadzenDataGrid<ScheduledMessageResponse>? grid;

    protected override async Task OnInitializedAsync()
    {
        reminders = (await ApiService.GetScheduledMessages()).ToList();
        channels = await ApiService.GetChannels();
    }

    private void NewScheduledMessage()
    {
        editScheduleMessage = new ScheduledMessageRequest
        {
            MessageText = string.Empty,
            SendDate = DateTime.UtcNow,
        };
        scheduledMessageModal?.ShowModal();
    }
    
    private void EditScheduledMessage(ScheduledMessageResponse message)
    {
        editScheduleMessage = new ScheduledMessageRequest
        {
            MessageText = message.MessageText,
            SendDate = message.SendDate?.DateTime ?? DateTime.UtcNow,
            ChannelId = message.Channel.Id,
            Id = message.Id
        };
        scheduledMessageModal?.ShowModal();
    }

    private async Task DeleteScheduledMessage()
    {
        if (reminderToDelete == null)
        {
            if (deleteConfirmationModal != null)
            {
                await deleteConfirmationModal.HideModal();
            }
            return;
        }
        
        await ApiService.DeleteScheduledMessage(reminderToDelete.Id);
        var reminderToRemove = reminders?.FirstOrDefault((r) => r.Id == reminderToDelete.Id);
        if (reminderToRemove != null)
        {
            reminders?.Remove(reminderToRemove);
        }
        
        if (deleteConfirmationModal != null)
        {
            await deleteConfirmationModal.HideModal();
        }
        
        if (grid != null)
        {
            await grid.Reload();
        }
    }

    private async Task SubmitEditMessage()
    {
        var message = editScheduleMessage.Id == null
            ? await ApiService.CreateScheduledMessage(editScheduleMessage)
            : await ApiService.EditScheduledMessage(editScheduleMessage.Id.Value, editScheduleMessage);

        
        var existingReminder = reminders?.FirstOrDefault((r) => r.Id == message.Id);
        if (existingReminder == null)
        {
            reminders?.Add(message);
            if (grid != null)
            {
                await grid.Reload();
            }
        }
        else
        {
            existingReminder.MessageText = message.MessageText;
            existingReminder.SendDate = message.SendDate;
            existingReminder.Channel = message.Channel;
        }

        if (scheduledMessageModal != null)
        {
            await scheduledMessageModal.HideModal();
        }
    }

    private async Task ShowDeleteConfirmationModal(ScheduledMessageResponse message)
    {
        reminderToDelete = message;
        if (deleteConfirmationModal != null)
        {
            await deleteConfirmationModal.ShowModal();
        }
    }

    private async Task HideDeleteConfirmationModal()
    {
        reminderToDelete = null;
        if (deleteConfirmationModal != null)
        {
            await deleteConfirmationModal.HideModal();
        }
    }
}