@page "/settings"
@inject ApiService Api
@inject IToastService ToastService

<PageTitle>Settings</PageTitle>

<h1>User Settings</h1>

@if (_pageLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm EditContext="@_editContext" class="my-3" OnValidSubmit="OnValidSubmit">
        <div class="row my-3">
            <div class="form-group col-lg-6">
                <label class="form-label">Timezone</label>
                <InputSelect class="form-select" @bind-Value="_userSettings.Timezone">
                    <option value="">Select a timezone...</option>
                    <option value="Pacific/Honolulu">Pacific/Honolulu GMT-10:00</option>
                    <option value="America/Anchorage">America/Anchorage GMT-9:00</option>
                    <option value="America/Los_Angeles">America/Los_Angeles GMT-8:00</option>
                    <option value="America/Boise">America/Boise GMT-7:00</option>
                    <option value="America/Denver">America/Denver GMT-7:00</option>
                    <option value="America/Phoenix">America/Phoenix GMT-7:00</option>
                    <option value="America/Chicago">America/Chicago GMT-6:00</option>
                    <option value="America/Detroit">America/Detroit GMT-5:00</option>
                    <option value="America/New_York">America/New_York GMT-5:00</option>
                </InputSelect>
            </div>
        </div>
        <div class="row my-3">
            <div class="form-group col-lg-6">
                <label class="form-label">Primary Channel Id</label>
                <InputSelect class="form-select" @bind-Value="_userSettings.PrimaryChannelId">
                    <option value="">Select a channel...</option>
                    @foreach (var channel in _channels)
                    {
                        <option value="@channel.Id">@channel.Name</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="row my-3">
            <div class="form-group col-lg-6">
                <label class="form-label">Birthday</label>
                <InputDate class="form-control" @bind-Value="_userSettings.Birthdate" />
            </div>
        </div>
        <div class="row my-3">
            <div class="col-lg-2 offset-lg-2">
                <button type="button" disabled="@(!_isModified)" class="btn btn-danger form-control" @onclick="Reset">Reset</button>
            </div>
            <div class="col-lg-2">
                <button disabled="@(!_isModified)" class="btn btn-primary form-control">Save</button>
            </div>
        </div>
    </EditForm>
}

@code {
    private bool _pageLoading = true;
    private bool _isModified;
    private ChannelResponse[] _channels = [];
    private UserSettingsResponse _userSettings = new UserSettingsResponse();
    private readonly UserSettingsResponse _originalSettings = new UserSettingsResponse();
    private EditContext? _editContext;
    
    protected override async Task OnInitializedAsync()
    {
        _channels = await Api.GetChannels();
        _userSettings = await Api.GetUserSettings();

        _editContext = new EditContext(_userSettings);
        _editContext.OnFieldChanged += (_, _) =>
        {
            _isModified = true;
        };
        CopySettings(_userSettings, _originalSettings);
        _pageLoading = false;
    }

    private async Task OnValidSubmit()
    {
        try
        {
            var userSettingsRequest = new UserSettingsRequest
            {
                BirthDate = _userSettings.Birthdate,
                Timezone = _userSettings.Timezone,
                PrimaryChannelId = _userSettings.PrimaryChannelId
            };
            var updatedSettings = await Api.SaveUserSettings(userSettingsRequest);
            _userSettings = updatedSettings;
            CopySettings(_userSettings, _originalSettings);
            _editContext?.MarkAsUnmodified();
            _isModified = false;
            ToastService.ShowSuccess("Settings saved!");
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
    }

    private void CopySettings(UserSettingsResponse from, UserSettingsResponse to)
    {
        to.Birthdate = from.Birthdate;
        to.PrimaryChannelId = from.PrimaryChannelId;
        to.Timezone = from.Timezone;
    }

    private void Reset()
    {
        CopySettings(_originalSettings, _userSettings);
        _editContext?.MarkAsUnmodified();
        _isModified = false;
    }
}